@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; /* Aplicar la fuente Poppins a todos los elementos */
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /*background: linear-gradient(#cb232c, #c31d61);*/
}

body{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    background-position: center center;
    background-color: #000000;
    /* min-height: 70vh;*/
    background-image: linear-gradient(
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)),
        url(/img/Britishr.jpg);
}

.muro {
    width: 100px; /* Ancho del muro */
}
.contenido {
    flex: 1;
    padding: 20px;
    /*background-color: #000000; /* Color de fondo del contenido */
    /*background: linear-gradient(to right,#dd7317,#c36416,#dd7317);*/

    display: flex;
    justify-content: center; /* Centrar el formulario horizontalmente */
    align-items: center; /* Centrar el formulario verticalmente */
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #ffffff; /*#ffffffa8, #ffffffcd*/
    text-align: center;
    padding: 20px 25px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.7);
    border-radius: 10px 10px;
    opacity: 5;
    font-family: 'Poppins', sans-serif; /* Aplicar la fuente Poppins al formulario */
    /*filter: blur(5px);*/
    margin: 20px;
}

form .title{
    color: #000000;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}

form h4{
    text-align: left;
    font-size: 12px;
}

form .p1, form .p2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 35px;
    width: 100%;
    padding: 10px;
}

form label{
    margin-bottom: 35px;
    /*display: flex;
    flex-direction: column;*/
}

form label input{
    outline: none;
    margin: 1px;
    border-radius: 2px 2px;
    color: #000000;
    border-bottom: solid rgba(0, 0, 255, 0.586);
    padding: 0 5px;
    font-size: 15px;
}

form button{
    border-radius: 5px;/*#c0bbbb*/
    background-color:#ffffff ;
    padding: 10px 20px; /* Ajusta el relleno para un mejor tamaño visual */
    cursor: pointer;
    font-size: 10px;
    font-weight: 600;
    border: 2px solid rgba(0, 0, 0, 0.586);
    margin: 10px;
    /*display: grid;
    grid-template-columns: repeat(2,1fr);*/
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 8px;
    text-align: center;
    padding: 15px 35;
    margin: 20px;
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

tr:hover {
    background-color: #f1f1f1;
}

.button-container { /*Alinea los botones*/
    display: flex;
    gap: 10px;

}