@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #2d343c;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 70vh;
    color: white;
    position: relative;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.barracount {
    position: relative;
    margin-top: 20px;
}

.barracount.right {
    right: 0;
}

.menu-icono {
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.navbar {
    position: absolute;
    top: 100%;
    background-color: #2d343c;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    display: none;
    flex-direction: column;
    padding: 10px;
}

.navbar ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navbar ul li {
    position: relative;
}

.navbar ul li button {
    font-size: 14px;
    color: #ffffff;
    background: #f35200;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navbar ul li button:hover {
    background-color: #ed7539;
}

#menu-toggle-left, #menu-toggle-right {
    display: none;

}

#menu-toggle-right:checked + .menu-icon + .navbar {
    display: flex;
}

.button2 {
    background-color: #f35200;
    color: #ffffff;
    padding: 13px 30px;
    margin-top: 40px;
    border-radius: 25px;
    text-transform: capitalize;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
}

.button2:hover {
    background-color: #ed7539;
}

.header-txt {
    text-align: center;
}

.header-txt h1 {
    font-size: 48px;
    line-height: 56px;
    padding: 20px;
}

.header-txt p {
    font-size: 16px;
    margin: 20px 0;
}

.button {
    background-color: #f35200;
    color: #ffffff;
    padding: 13px 35px;
    border-radius: 25px;
    text-transform: capitalize;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #ed7539;
}

.products{
    padding: 70px 0 0 0;
    text-align: center;
}

h2{
    color: #ffff;
    font-size: 40px;
    margin-bottom: 35px;
}


.products-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 35px;
}

.product img{
    width: 350px;
    height: 250px;  
}

.product h3{
    font-size: 20px;
    color: #ffff;
    margin-bottom: 10px;
}

.product p{
    font-size: 16px;
    color: #ecebeb;
    margin-bottom: 10px;
}

.precio {
    color: #f35200 !important;
}

.btn-2 {
    display: inline-block;
    padding: 8px 17px;
    border: 1px solid #f35200;
    border-radius: 20px;
    color: #ffffff;
}

.btn-2:hover{
    background-color: #f35200;
}

/*Servicios*/
.services{
    margin-top: 100px;
    padding: 70px 0;
    background-color: #ebeff1;
    text-align: center;
}
